body {
    background-color: white;
    font-family: Arial, sans-serif;
}
body {
    background-color: pink !important;
}


.container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    background-color: #f8c7d4; /* Rose clair */
    border-radius: 20px;
    padding: 20px;
    width: 400px;
    text-align: center;
    box-shadow: none;
    border: 1px solid #f8c7d4;
}

h3 {
    font-style: italic;
    font-weight: bold;
    color:#f4a8da;
}
.titre {
    color :pink;

}

label {
    font-style: italic;
}

input[type="text"], select {
    width: 90%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-check-label {
    font-size: 14px;
}

button {
    background-color: #f8c7d4;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-style: italic;
    text-transform: lowercase;
    color: white;
}

button:hover {
    background-color: #f4a6b9;
}
